.stories-container {
	margin-top: 34px;
	width: 100%; /* stories-container ocupa 100% do content-container */
	height: 118px;
	background: #ffffff;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	border: solid 1px #dbdbdb;
	box-sizing: border-box;
	margin-bottom: 24px;
	display:flex;
	align-items:center;
	overflow:hidden;
	position:relative;
}

.arrow-icon{
	position:absolute;
	right: 8px;
	top: 38px;
	font-size:32px;
	color:white;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	cursor:pointer;
}

@media (max-width: 614px){
	.stories-container{
		background-color: #E5E5E5;
		border: none;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
