.bottom-menu-mobile{
	display: none;
	justify-content: center;
	align-items: center;
	position:fixed;
	z-index:1;
	bottom:0;
	left:0;
	background-color:white;
	height: 54px;
	border: 1px solid #dbdbdb
}

.bottom-menu-mobile-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-left:20px;
	margin-right: 20px;
}

.icons-bottom-mobile {
	height: 22px;
	font-size: 22px;
	cursor:pointer;
}

@media (max-width: 614px){
	.bottom-menu-mobile{
		display: flex;
		width: 100%;
	}
}