.suggested-page {
	display: flex;
	margin-bottom: 15px;
}

.page-text {
	width: 293px;
	display: flex;
	flex-direction: column;
	font-style: normal;
	display: flex;
}

.page-text h1 {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #262626;
	margin-bottom: 3px;
}

.page-text h2 {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #8e8e8e;
}

.seguir {
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	text-align: right;
	color: #139ef2;
}