.single{
	width:78px;
	display: flex;
	flex-direction:column;
	align-items:center;
	margin-left:13px;
}

.stories{
	background-image: url("../../assets/stories_background.jpg");
	background-position:center;
	background-size:cover;
	width:66px;
	height:66px;
	position:relative;
	border-radius: 50%;;
}

.img-stories{
	position:absolute;
	top: 5px;
	left: 5px;
	cursor:pointer;
}

.stories-text{
	margin-top: 5px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #262626;
	text-align:center;
}