.sb-profile-info {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding-bottom: 15px;
	cursor:pointer;
	box-sizing: border-box;
}

.sb-profile-info img{
	width: 56px;
	height: 56px;
	border-radius: 50%;
}

.profile-user-and-name {
	font-style: normal;
	font-size: 14px;
	line-height: 16px;
	margin-left: 15px;
}

.profile-user-and-name h1 {
	font-weight: 500;
	color: #262626;
}

.profile-user-and-name h2 {
	color: #8e8e8e;
}

.edit-user-button{
	margin-left: 20px;
	font-size: 20px;
}
